# development files
.venv/
*.egg-info/
.coverage
.ipynb_checkpoints/
__pycache__/
build/
dist/
htmlcov/

# ignore the built documentation
docs/_*
!docs/_static/
!docs/_templates/
docs/puml/img

# ignore runs and related artifacts
**/runs/
**/*.lt
